<h2>My First Attribute Directive</h2>

<button appLogAction ="Insert"(click)="color='lightgreen'" appHighlight="lightgreen">Insert</button>
<button appLogAction ="Save"(click)="color='yellow'" appHighlight="yellow">Save</button>
<button appLogAction ="Modify"(click)="color='orange'"appHighlight="orange">Modify</button>
<button appLogAction ="Delete"(click)="color='red'"appHighlight="red">Delete</button>
<button appLogAction ="Custom"(click)="color='green'"appHighlight="green" >Custom</button>

<h4>Messages</h4>
  <button [appHighlight]="color" class="clear" (click)="messageService.clear()">Clear</button>
<div  *ngFor='let message of messageService.messages'appHighlight="gray" > {{message }}   </div>


